@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{

background-image: url(bg_video.mp4);
background-size: cover;
}

.video_bg
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;/* Apply the blur effect */
}

.container_new{
  max-width: 52%;
  border-radius: 70pt;
  padding: 02%;
  opacity: 80%;
  align-items: center;
  shape-image-threshold: inherit;
  box-shadow: 10pt;
  align-items: center;
  margin-top: 60pt;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  
}
.heading{
 
  font-family: 'Arima Madurai', cursive;
  font-style: inherit;
  text-align: center;
  text-shadow: 10pt;
  font-size: 35pt;
  margin-bottom: 20pt;
  color: rgb(0, 0, 0);
}

.p {
  color: rgb(240,130,129); /* Color for "P" */
}
.r {
  color: rgb(61,159,210); /* Color for "r" */
}
.e:nth-child(2) {
  color: rgb(239,200,175); /* Color for first "e" */
}
.e:nth-child(3) {
  color: rgb(247,186,68); /* Color for second "e" */
}
.t {
  color: rgb(26, 32, 23) /* Color for "t" */
}

a
{
text-decoration: none;
font-family: 'Patrick Hand', cursive;
}

.class_header{
  margin: 10px;
  align-items: center;
  
}

.facebook_class{
  width: 99%;
  align-items: center;
  align-self: center;
  margin-top: 6pt;
  padding: 10pt ;
  text-align: center;
  /* color: rgb(255, 1, 136); */
  color: rgb(61,159,210);     /*Text Colour rgb(240,130,129) */
  border-left: 10px solid rgb(61,159,210);
  border-right: 10px solid rgb(61,159,210); 
  background-color: rgba(255, 255, 255,1);
  font-size: 14pt;
  border-radius: 5pt;
}

.instagram_class{
  width: 99%;
  align-items: center;
  align-self: center;
  margin-top: 6pt;
  padding: 10pt ;
  text-align: center;
  /* color: rgb(255, 1, 136); */
  color: rgb(240,130,129);     /*Text Colour */
  border-left: 10px solid rgb(240,130,129);
  border-right: 10px solid rgb(240,130,129); 
  background-color: rgba(255, 255, 255,1);
  font-size: 14pt;
  border-radius: 5pt;
}

.linkdin_class{
  width: 99%;
  align-items: center;
  align-self: center;
  margin-top: 6pt;
  padding: 10pt ;
  text-align: center;
  /* color: rgb(255, 1, 136); */
  color: rgb(239,200,175);     /*Text Colour */
  border-left: 10px solid rgb(239,200,175);
  border-right: 10px solid rgb(239,200,175); 
  background-color: rgba(255, 255, 255,1);
  font-size: 14pt;
  border-radius: 5pt;
}

.github_class{
  width: 99%;
  align-items: center;
  align-self: center;
  margin-top: 6pt;
  padding: 10pt ;
  text-align: center;
  /* color: rgb(255, 1, 136); */
  color: rgb(26, 32, 23);     /*Text Colour */
  border-left: 10px solid rgb(26, 32, 23);
  border-right: 10px solid rgb(26, 32, 23);
  background-color: rgba(255, 255, 255,1);
  font-size: 14pt;
  border-radius: 5pt;
}

.resume_class{
  width: 99%;
  align-items: center;
  align-self: center;
  margin-top: 6pt;
  padding: 10pt ;
  text-align: center;
  /* color: rgb(255, 1, 136); */
  color: rgb(93,126,79);     /*Text Colour */
  border-left: 10px solid rgb(93,126,79);
  border-right: 10px solid rgb(93,126,79);
  background-color: rgba(255, 255, 255,1);
  font-size: 14pt;
  border-radius: 5pt;
}

.portfolio_class{
  width: 99%;
  align-items: center;
  align-self: center;
  margin-top: 6pt;
  padding: 10pt ;
  text-align: center;
  /* color: rgb(255, 1, 136); */
  color: rgb(171,208,197);     /*Text Colour */
  border-left: 10px solid rgb(171,208,197);
  border-right: 10px solid rgb(171,208,197);
  background-color: rgba(255, 255, 255,1);
  font-size: 14pt;
  border-radius: 5pt;
}

.playstore_class{
  width: 99%;
  align-items: center;
  align-self: center;
  margin-top: 6pt;
  padding: 10pt ;
  text-align: center;
  /* color: rgb(255, 1, 136); */
  border-left: 10px solid rgb(247,186,68);
  border-right: 10px solid rgb(247,186,68);
  color: rgb(247,186,68);     /*Text Colour */
  background-color: rgba(255, 255, 255,1);
  font-size: 14pt;
  border-radius: 5pt;
}



.facebook_class:hover{
  outline: 0px solid transparent;
  /* border: 0px solid rgb(255, 1, 136);
  background-color: rgb(255, 1, 136); 
  border-left: 5px solid rgb(255,255,255);
  border-right: 5px solid rgb(255,255,255); */
  background-color: rgb(61,159,210);
  color: rgb(255, 255, 255);
  border-radius: 5pt;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.instagram_class:hover{
  outline: 0px solid transparent;
  /* border: 0px solid rgb(255, 1, 136);
  background-color: rgb(255, 1, 136); 
  border-left: 5px solid rgb(255,255,255);
  border-right: 5px solid rgb(255,255,255); */
  background-color: rgb(240,130,129);
  color: rgb(255, 255, 255);
  border-radius: 5pt;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.linkdin_class:hover{
  outline: 0px solid transparent;
  /* border: 0px solid rgb(255, 1, 136);
  background-color: rgb(255, 1, 136); 
  border-left: 5px solid rgb(255,255,255);
  border-right: 5px solid rgb(255,255,255); */
  background-color: rgb(239,200,175);
  color: rgb(255, 255, 255);
  border-radius: 5pt;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.github_class:hover{
  outline: 0px solid transparent;
  /* border: 0px solid rgb(255, 1, 136);
  background-color: rgb(255, 1, 136); 
  border-left: 5px solid rgb(255,255,255);
  border-right: 5px solid rgb(255,255,255); */
  background-color: rgb(26, 32, 23);
  color: rgb(255, 255, 255);
  border-radius: 5pt;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.resume_class:hover{
  outline: 0px solid transparent;
  /* border: 0px solid rgb(255, 1, 136);
  background-color: rgb(255, 1, 136); 
  border-left: 5px solid rgb(255,255,255);
  border-right: 5px solid rgb(255,255,255); */
  background-color: rgb(93,126,79);
  color: rgb(255, 255, 255);
  border-radius: 5pt;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.portfolio_class:hover{
  outline: 0px solid transparent;
  /* border: 0px solid rgb(255, 1, 136);
  background-color: rgb(255, 1, 136); 
  border-left: 5px solid rgb(255,255,255);
  border-right: 5px solid rgb(255,255,255); */
  background-color: rgb(171,208,197);
  color: rgb(255, 255, 255);
  border-radius: 5pt;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.playstore_class:hover{
  outline: 0px solid transparent;
  /* border: 0px solid rgb(255, 1, 136);
  background-color: rgb(255, 1, 136); 
  border-left: 100px solid rgb(10, 10, 10);
  border-right: 100px solid rgb(10, 10, 10); */
  background-color: rgb(247,186,68);
  color: rgb(255, 255, 255);
  border-radius: 5pt;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}



.form_content{
  align-items: center;
  align-content: center;
  text-align: center;
}

.btn_layout{
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  margin-top: 40pt;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}


element.style{
  flex-direction: column;
}

section{
  align-self: right;
  align-items: center;
  display: flex;
  justify-content: right;
}

.btn:hover{
  background-color: rgb(0, 255, 64);
 
}

input:focus{
  background-color: rgb(170, 173, 171);
  color: rgb(0, 0, 0);
}

input:focus::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
}

input:hover{

  background-color: rgb(106, 254, 0);
  color: rgb(0, 0, 0);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}


textarea:focus{
  background-color: rgb(173, 170, 170);
  color: rgb(0, 0, 0);
}  

textarea:focus::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
}  

textarea::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

textarea:hover{
  background-color: rgb(173, 170, 170);
}

textarea:hover::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
}


input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

input:hover::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
}

